# Entry       Description                                                             Equivalent to
#                                                                                     m h dom mon dow
# @annually   Run once a year at midnight in the morning of January 1                 0 0  1   1   *
# @yearly     Run once a year at midnight in the morning of January 1                 0 0  1   1   *
# @monthly    Run once a month at midnight in the morning of the first of the month   0 0  1   *   *
# @weekly     Run once a week at midnight in the morning of Sunday                    0 0  *   *   0
# @daily      Run once a day at midnight                                              0 0  *   *   *
# @hourly     Run once an hour at the beginning of the hour                           0 *  *   *   *
# @reboot     Not supported

# m h dom mon dow command
